
@{
    ViewBag.Title = "PersonServices";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    function getSubcateID() {
        var sid = $("#sid").val();
        if (sid) {
            $.ajax({
                url: '/api/HomeApi/GetSubcateByService',
                type: 'GET',
                data: { sid: sid },
                success: function (data) {
                    $("#scid").val(data);
                }
            });
        }
    }
</script>
<!-- Start Contact Area  -->
<div class="axil-contact-page-area axil-section-gap">
    <div class="container">
        <div class="axil-contact-page">
            <div class="row row--30">
                <div class="col-xl-8 col-lg-8 col-sm-12 offset-lg-2 offset-xl-2">
                    <div class="contact-form">
                        <h3 class="title mb--10">Select tradesperson service</h3>
                        <p>Which service you want from tradesperson.</p>
                        <form method="get" action="/CustomerAccount/GetQuote">
                            <input type="hidden" value="@Request.QueryString["pid"]" name="pid" />
                            <input type="hidden" value="@Request.QueryString["PostalCodeID"]" name="PostalCodeID" />
                            <input type="hidden" value="@Request.QueryString["cid"]" name="cid" />
                            <input type="hidden" id="scid" name="scid" />
                            <div class="row row--10">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label>Available Services <span>*</span></label>
                                        @Html.DropDownList("sid", null,"Select a service", htmlAttributes: new { required = "required", onchange = "getSubcateID()" })
                                    </div>
                                </div>
                                <div class="col-12 mt--20">
                                    <div class="form-group mb--0">
                                        <button type="submit" class="axil-btn btn-bg-primary">Continue</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Contact Area  -->
