[build]
  publish = "."
  command = ""
[build.environment]
  SECRETS_SCAN_OMIT_KEYS = "FIREBASE_PRIVATE_KEY,FIREBASE_CLIENT_EMAIL,FIREBASE_PROJECT_ID,FIREBASE_PRIVATE_KEY_ID,FIREBASE_CLIENT_ID,FIREBASE_TYPE,FIREBASE_AUTH_URI,FIREBASE_TOKEN_URI,FIREBASE_AUTH_PROVIDER_CERT_URL,FIREBASE_CLIENT_CERT_URL"
