
@{
    ViewBag.Title = "Request Accreditation";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int providerID = int.Parse(Session["P_UserID"].ToString());
}

<script>
    function SendRequest() {
        var providerID = $('#providerID').val();
        var Acid = $('#Acid').val();
        if (Acid != null && Acid != "") {
            $.ajax({
                url: "/api/ProviderApi/AddAccreditation?acid=" + Acid + "&pid=" + providerID,
                type: 'GET',
                contentType: 'application/json',
                beforeSend: function () {
                    $("body").mLoading();
                },
                success: function (data) {
                    $("body").mLoading('hide');
                    if (data.Status == "Success") {
                        alert(data.Message);
                        window.location = "/TradespersonAccount/ManageAccreditation";
                    }
                    else {
                        alert(data.Message);
                    }
                },
                error: function (data) {
                    alert(data.Message);
                    $("body").mLoading('hide');
                }
            });
        }
        else {
            alert('Please Select Accreditation');
        }
    }
</script>
<main class="main-wrapper">
    <!-- Start Breadcrumb Area  -->
    <div class="axil-breadcrumb-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-8">
                    <div class="inner">
                        <ul class="axil-breadcrumb">
                            <li class="axil-breadcrumb-item"><a href="/">Home</a></li>
                            <li class="separator"></li>
                            <li class="axil-breadcrumb-item active" aria-current="page">Request New Accreditation</li>
                        </ul>
                        <h1 class="title">Request New Accreditation</h1>
                    </div>
                </div>
                <div class="col-lg-6 col-md-4">
                    <div class="inner">
                        <div class="bradcrumb-thumb">
                            <img src="/assets/images/logo/logoheader.png" alt="Image" style="height:140px;" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="axil-dashboard-area mb--80">
        <div class="container">
            <div class="row align-items-center">
                <div class="axil-dashboard-area mt--30">
                    <div class="container">
                        <div class="axil-dashboard-warp">
                            <div class="axil-dashboard-author">
                                <div class="media">
                                    <div class="media-body">
                                        <h5 class="title mb-0">Hello @Session["ProviderName"]</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                @Html.Action("_AccountDetail", "TradespersonAccount")
                                <div class="col-xl-9 col-md-8">
                                    <div class="form-group mb-20 mt-5">
                                        <label>Select Accreditation</label>
                                        @Html.DropDownList("Acid", null, "---Select Accreditation---", htmlAttributes: new { required = "required" })
                                    </div>
                                    <input type="hidden" id="providerID" value="@providerID" />
                                    <button onclick="SendRequest()" class="axil-btn p-2 btn-bg-primary" style="width:150px">Submit</button>
                                    <a href="/TradespersonAccount/ManageAccreditation" class="axil-btn" style="float:right;border: 1px solid #C0C0C0;padding: 5px 15px;font-size: 14px;">Back to list</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

