
@{
    ViewBag.Title = "Payment Details";
    Layout = "~/Views/Shared/_Layout.cshtml";

    bool isconfirmed = false;
    if (Request.QueryString["qid"] != null)
    {
        BridgingAfricaDBEntities db = new BridgingAfricaDBEntities();
        int qid = int.Parse(Request.QueryString["qid"]);
        var isconfirm = db.ProviderEnquiryTbls.Where(s => s.Id == qid).Select(s => s.IsConfirmed).FirstOrDefault();
        isconfirmed = isconfirm;
    }
}
<script>
    function sendMessage(cid, qid) {
        $.ajax({
            url: '/api/ProviderApi/SendConfirmationMessage?cid=' + cid + '&qid=' + qid,
            type: 'POST',
            beforeSend: function () {
                $("body").mLoading();
            },
            success: function (response) {
                $("body").mLoading('hide');
                if (response.Status == "Success") {
                    alert(response.Message);
                    window.location = "/TradespersonAccount/MyQuotations"
                }
                else {
                    alert(response.Message);
                }
            },
            error: function (xhr, status, error) {
                console.error("Error:", error);
                alert("An error occurred while sending the message.");
            }
        });
    }
</script>
<main class="main-wrapper">
    <!-- Start Breadcrumb Area  -->
    <div class="axil-breadcrumb-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-8">
                    <div class="inner">
                        <ul class="axil-breadcrumb">
                            <li class="axil-breadcrumb-item"><a href="/">Home</a></li>
                            <li class="separator"></li>
                            <li class="axil-breadcrumb-item active" aria-current="page">Request Fee</li>
                        </ul>
                        <h1 class="title">Request Fee</h1>
                    </div>
                </div>
                <div class="col-lg-6 col-md-4">
                    <div class="inner">
                        <div class="bradcrumb-thumb">
                            <img src="/assets/images/logo/logoheader.png" alt="Image" style="height:140px;" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="axil-dashboard-area mb--80">
        <div class="container">
            <div class="row align-items-center">
                <div class="axil-dashboard-area mt--30">
                    <div class="container">
                        <div class="axil-dashboard-warp">
                            <div class="axil-dashboard-author">
                                <div class="media">
                                    <div class="media-body">
                                        <h5 class="title mb-0">Hello @Session["ProviderName"]</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                @Html.Action("_AccountDetail", "TradespersonAccount")
                                <div class="col-xl-9 col-md-8">
                                    @if (TempData["FailMessage"] != null)
                                    {
                                        <div id="fail-alert" class="alert alert-danger text-center">@TempData["FailMessage"]</div>
                                    }
                                    <div class="card card-style">
                                        <div class="page-title page-title-small mb-2">
                                            <h4 class="text-center font-500 mb--10">Payment Details</h4>
                                        </div>

                                        <div class="content mb-0 mt-1 pt-2 mb-2 text-center">
                                            @if (isconfirmed == false)
                                            {
                                                <h4 class="text-center font-500 mb--10">Send Confirmation</h4>
                                                <p class="text-center mt--10">
                                                    Would you like to confirm this service request to customer before making payment. We will send a message to customer to confirm, then you can make payment.
                                                </p>
                                                <button onclick="sendMessage(@Request.QueryString["cid"],@Request.QueryString["qid"])" style="width:300px" class="axil-btn p-2 btn-bg-primary mb--10">Send Message</button>
                                                <h6 class="mt--20 mb--5">OR</h6>
                                            }
                                            <h4 class="text-center font-500 mb--10">Platform fee payment</h4>
                                            <p class="text-center">Please pay $5 as platform fee to view customer details.</p>
                                            <h6 class="mt--20">Make payment</h6>
                                            <h4 class="text-center">Amount: $5</h4>
                                            @if (Request.QueryString["status"] != null && Request.QueryString["status"] == "failed")
                                            {
                                                <h4 class="mt-20 mb-20 text-center">Payment failed, please retry.</h4>
                                                <a style="width:300px" href="/TradespersonAccount/MakePayment?qid=@Request.QueryString["qid"]" class="axil-btn p-2 btn-bg-primary">
                                                    Pay Now
                                                </a>
                                            }
                                            else
                                            {
                                                <p class="mt-20 mb-20 text-center">We will redirect you to the payment gateway website.</p>
                                                <a style="width:300px" href="/TradespersonAccount/MakePayment?qid=@Request.QueryString["qid"]" class="axil-btn p-2 btn-bg-primary">
                                                    Pay Now
                                                </a>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

