
@{
    ViewBag.Title = "PaymentSuccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    function PaymentDone(qid) {
        var ptype = $("#ptype").val();
        $.ajax({
            url: '/api/ProviderApi/QuotePaymentDone?qid=' + qid + '&ptype=' + ptype,
            type: "Post",
            dataType: "JSON",
            beforeSend: function () {
                $("body").mLoading();
            },
            success: function (json) {
                $("body").mLoading('hide');
                if (json.Status == "Success") {
                    alert(json.Message);
                    window.location = "/TradespersonAccount/QuotationDetails?qid="+qid;
                }
                else {
                    alert(json.Message);
                }
            },
        });
    }
</script>
<main class="main-wrapper">
    <!-- Start Breadcrumb Area  -->
    <div class="axil-breadcrumb-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-8">
                    <div class="inner">
                        <ul class="axil-breadcrumb">
                            <li class="axil-breadcrumb-item"><a href="/">Home</a></li>
                            <li class="separator"></li>
                            <li class="axil-breadcrumb-item active" aria-current="page">Request Fee</li>
                        </ul>
                        <h1 class="title">Request Fee</h1>
                    </div>
                </div>
                <div class="col-lg-6 col-md-4">
                    <div class="inner">
                        <div class="bradcrumb-thumb">
                            <img src="/assets/images/logo/logoheader.png" alt="Image" style="height:140px;" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="axil-dashboard-area mb--80">
        <div class="container">
            <div class="row align-items-center">
                <div class="axil-dashboard-area mt--30">
                    <div class="container">
                        <div class="axil-dashboard-warp">
                            <div class="axil-dashboard-author">
                                <div class="media">
                                    <div class="media-body">
                                        <h5 class="title mb-0">Hello @Session["ProviderName"]</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                @Html.Action("_AccountDetail", "TradespersonAccount")
                                <div class="col-xl-9 col-md-8">
                                    <div class="card card-style mt-2 mb-2">
                                        <div class="page-title page-title-small mb-2">
                                            <h4 class="text-center font-600">Request Fee</h4>
                                        </div>
                                    </div>
                                    <div class="card card-style">
                                        <div class="page-title page-title-small mb-2">
                                            <h4 class="text-center font-500">Payment successfully completed.</h4>
                                        </div>

                                        <div class="content mb-0 mt-1 pt-2 mb-2 text-center">
                                            <h4 class="text-center font-500">Amount: $5</h4>
                                            <input type="hidden" id="ptype" value="@Request.QueryString["ptype"]" />
                                            <h5 class="mt-3 mb-3 text-center">Please click on proceed to complete payment</h5>
                                            <button style="width:300px" onclick="PaymentDone(@Request.QueryString["qid"]);" class="axil-btn p-2 btn-bg-primary">Proceed</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

