
@{
    ViewBag.Title = "Tradesperson";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<main class="main-wrapper">
    <!-- Start Breadcrumb Area  -->
    <div class="axil-breadcrumb-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-8">
                    <div class="inner">
                        <ul class="axil-breadcrumb">
                            <li class="axil-breadcrumb-item"><a href="index.html">Home</a></li>
                            <li class="separator"></li>
                            <li class="axil-breadcrumb-item active" aria-current="page">Tradesperson </li>
                        </ul>
                        <h1 class="title">Tradesperson</h1>
                    </div>
                </div>
                <div class="col-lg-6 col-md-4">
                    <div class="inner">
                        <div class="bradcrumb-thumb">
                            <img src="/assets/images/logo/logoheader.png" alt="Image" style="height:140px;" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumb Area  -->
    <!-- Start About Area  -->
    <div class="axil-about-area about-style-1 axil-section-gap ">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-4 col-lg-6">
                    <div class="about-thumbnail">
                        <div class="thumbnail">
                            <img src="/assets/images/icons/All-Services.jpg" alt="Our Pricing plan">
                        </div>
                    </div>
                </div>
                <div class="col-xl-8 col-lg-6">
                    <div class="about-content content-right">
                        <span class="title-highlighter highlighter-primary2"> <i class="far fa-user"></i>Tradesperson features</span>
                        <ul>
                            <li>Dedicated business profile page</li>
                            <li>Automated review collection</li>
                            <li>Access to our Printed Directory</li>
                            <li>Linked to major Hardware Stores</li>
                        </ul>
                        <a href="/Tradesperson/TradespersonLogin" class="axil-btn btn-bg-secondary right-icon">Join Now <i class="fal fa-long-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End About Area  -->
    <!-- Start About Area  -->
    <div class="about-info-area pb--50">
        <div class="container">
            <h3 class="title">Workflow</h3>
            <div class="row row--20 text-center">
                <div class="col-lg-4">
                    <div class="about-info-box">
                        <div class="thumb">
                            <img src="~/assets/images/icons/service2.png" alt="Shape">
                        </div>
                        <div class="content">
                            <h6 class="title">SignUp for Free</h6>
                            <p>
                                You can register your profile for free on our platform.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="about-info-box">
                        <div class="thumb">
                            <img src="~/assets/images/icons/service22.png" alt="Shape">
                        </div>
                        <div class="content">
                            <h6 class="title">Get listed on platform</h6>
                            <p>
                                Get listed your profile for free on bridging africa platform.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="about-info-box">
                        <div class="thumb">
                            <img src="~/assets/images/icons/service8.png" alt="Shape">
                        </div>
                        <div class="content">
                            <h6 class="title">Your trade</h6>
                            <p>
                                Select your trade. Show off your work, skills and reviews and get regular job requests.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End About Area  -->
</main>

