
@{
    ViewBag.Title = "AccountCheck";
    Layout = "~/Areas/MobileApp/Views/Shared/_LayoutMain.cshtml";

}
<div class="page-content">
    <div class="page-title page-title-small">
        <h2>Account Login</h2>
    </div>
    <div class="card header-card shape-rounded" data-card-height="210">
        <div class="card-overlay bg-ba-theme opacity-95"></div>
        <div class="card-overlay dark-mode-tint"></div>
        <div class="card-bg"></div>
    </div>
    <div class="card card-style">
        <div class="content mt-0 mb-2">
            <div class="list-group list-custom-large">
                <a href="/MobileApp/Home/MobileVerification">
                    <i class="fa font-14 fa-user bg-ba-theme color-white rounded-sm"></i>
                    <span>Login as Customer</span>
                    <i class="fa fa-angle-right mr-2"></i>
                </a>
                <a href="/TradespersonApp/Home/Index">
                    <i class="fa font-14 fa-user bg-ba-theme rounded-sm"></i>
                    <span>Login as Tradesperson</span>
                    <i class="fa fa-angle-right mr-2"></i>
                </a>
            </div>
        </div>
    </div>
</div>