
@{
    ViewBag.Title = "Categories";
    Layout = "~/Areas/MobileApp/Views/Shared/_LayoutMain.cshtml";
}

<script>
    $(document).ready(function () {
        $.ajax({
            url: '/api/HomeApi/GetCategories',
            type: "get",
            dataType: "JSON",
            beforeSend: function () {
                $("body").mLoading();
            },
            success: function (json) {
                $("body").mLoading('hide');
                if (json.length > 0) {
                    for (var i in json) {
                        var CategoryName = json[i].CategoryName;
                        var imagepath = json[i].Image;
                        var cid = json[i].Id;
                        $("#Categories").append("<a href='/MobileApp/Home/SubCategories?cid=" + cid + "'><img src='" + imagepath + "' style='height: 50px; width: 50px' class='img-thumbnail' /><span style='margin-left: 10px'>" + CategoryName + "</span><i class='fa fa-angle-right'></i></a>");
                    }
                }
                else {
                    $("#Categories").append("<h5 class='font-500 mt-3 text-center pb-2'>No records found</h4>");
                }
            },
        });
    })
</script>
<div class="page-content">
    <div class="page-title page-title-small">
        <h2><a href="/MobileApp/Home/MainHome"><i class="fa fa-arrow-left"></i></a>Categories</h2>
    </div>
    <div class="card header-card shape-rounded" data-card-height="150">
        <div class="card-overlay bg-ba-theme opacity-95"></div>
        <div class="card-overlay dark-mode-tint"></div>
        <div class="card-bg"></div>
    </div>

    <div class="card card-style">
        <div class="content mt-0 mb-0">
            <div class="list-group list-custom-large" id="Categories">

            </div>
        </div>
    </div>
    @*<div class="card card-style mb-1 p-2">
        <p>Missing a service category? If you need a new category listed send us a message.</p>
        <a href="/MobileApp/Home/RequestCategory" class="btn btn-m mb-0 rounded-s text-uppercase font-700 bg-ba-theme">
            Request a new category
        </a>
    </div>*@
</div>