
@{
    ViewBag.Title = "ContactUs";
    Layout = "~/Areas/MobileApp/Views/Shared/_LayoutMain.cshtml";
}
<script>
    function SubmitData() {
        var IsValid = checkvalues();
        if (IsValid !== "1") {
            IsValid.focus();
            $('#ErrorToast').html(IsValid[0].title);
            $('#ErrorToast').toast('show');
            return;
        }

        var contactNo = $("#ContactNo").val().trim();
        var zimMobilePattern = /^(?:\+2637\d{8}|07\d{8})$/;

        if (!zimMobilePattern.test(contactNo)) {
            $("#ErrorHeader").text("Alert");
            $("#ErrorDetails").text("Please enter a valid Zimbabwe mobile number (e.g. 0771234567 or +263771234567)");
            $('#ErrorMessage').showMenu();
            $("#ContactNo").focus();
            return;
        }

        var valdata = $("#myForm").serialize();

        $.ajax({
            url: "/api/HomeApi/SaveContactEnquiry",
            type: 'POST',
            dataType: 'json',
            data: valdata,
            beforeSend: function () {
                $("body").mLoading();
            },
            success: function (data) {
                $("body").mLoading('hide');
                if (data.Status == "Success") {
                    $("#SuccessHeader").text("Success");
                    $("#SuccessDetail").text(data.Message);
                    $('#SuccessMessage').showMenu();
                    $('#BtnSuccess').click(function () {
                        window.location = "/TradespersonApp/Home/";
                    });
                } else {
                    $("#ErrorHeader").text("Alert");
                    $("#ErrorDetails").text(data.Message);
                    $('#ErrorMessage').showMenu();
                }
            },
            error: function () {
                $("body").mLoading('hide');
                alert("Error please try again");
            }
        });
    }

</script>
<div class="page-content">
    <div class="page-title page-title-small">
        <h2><a href="/MobileApp/Home/MainHome"><i class="fa fa-arrow-left"></i></a>Help</h2>
    </div>
    <div class="card header-card shape-rounded" data-card-height="180">
        <div class="card-overlay bg-ba-theme opacity-95"></div>
        <div class="card-overlay dark-mode-tint"></div>
        <div class="card-bg"></div>
    </div>

    <div class="card card-style">
        <div class="content text-center">
            <h4 class="mb-3 text-center">Get In Touch</h4>
            <h6 class="font-400">
                Email : info@domain.com
            </h6>
            <h6 class="font-400">
                Contact Number : +263-1234567890
            </h6>
        </div>
    </div>

    <div class="card card-style">
        <div class="content mb-0 mt-1 pt-2">
            <form id="myForm" method="post">
                <div class="input-style input-style-2 has-icon">
                    <i class="input-icon fa fa-user color-theme"></i>
                    <span class="color-highlight input-style-1-active">Name</span>
                    <em>(required)</em>
                    <input type="text" name="Name" id="Name" class="form-control" required title="Enter Your Name" />
                </div>
                <div class="input-style input-style-2 has-icon">
                    <i class="input-icon fa fa-at color-theme"></i>
                    <span class="color-highlight input-style-1-active">Email</span>
                    <em>(required)</em>
                    <input type="email" name="EmailID" id="EmailID" class="form-control" required title="Enter Email ID" />
                </div>
                <div class="input-style input-style-2 has-icon">
                    <i class="input-icon fa fa-mobile color-theme"></i>
                    <span class="color-highlight input-style-1-active">Contact Number</span>
                    <em>(required)</em>
                    <input type="text" id="ContactNo" name="ContactNo" class="form-control" required title="Enter Contact Number" />
                </div>
                <div class="input-style input-style-2 has-icon">
                    <span class="color-highlight input-style-1-active">Message</span>
                    <em>(required)</em>
                    <textarea id="Message" name="Message" class="form-control" style="height:100px" title="Enter Your Message"></textarea>
                </div>
                <a href="#" onclick="SubmitData()" class="btn btn-full btn-m shadow-l rounded-s bg-ba-theme text-uppercase font-900 mt-4 m-2">Submit</a>
            </form>
        </div>
    </div>
</div>
