
@{
    ViewBag.Title = "SubCategories";
    Layout = "~/Areas/MobileApp/Views/Shared/_LayoutMain.cshtml";

    BridgingAfricaDBEntities db = new BridgingAfricaDBEntities();
    int cid = int.Parse(Request.QueryString["cid"]);

    var query = db.ProviderTbls.Where(p => p.IsActive == true && p.IsAvailable == true && p.ProviderServicesTbls.Any(s => s.IsActive) && p.StatusID == 2 && p.ProviderServicesTbls.Any(ps => ps.ServiceTbl.CategoryID == cid && ps.IsActive)).ToList();
}

<script>
    $(document).ready(function () {
        var Cid = @Request.QueryString["cid"];
        $.ajax({
            url: '/api/HomeApi/GetSubCategories?cid=' + Cid,
            type: "get",
            dataType: "JSON",
            beforeSend: function () {
                $("body").mLoading();
            },
            success: function (json) {
                $("body").mLoading('hide');
                if (json.length > 0) {                   
                    for (var i in json) {
                        var subCategoryName = json[i].SubCategoryName;
                        var Scid = json[i].Id;
                        $("#Categories").append("<a href='/MobileApp/Home/Services?scid=" + Scid + "&cid=" + Cid + "'><span style='margin-left: 10px'>" + subCategoryName + "</span><i class='fa fa-angle-right'></i></a>");
                    }
                }
                else {
                    $("#Categories").append("<h5 class='font-500 mt-3 text-center pb-2'>No records found</h4>");
                }
            },
        });


    })
</script>
<div class="page-content">
    <div class="page-title page-title-small">
        <h2><a href="/MobileApp/Home/Categories"><i class="fa fa-arrow-left"></i></a>@ViewBag.cName</h2>
    </div>
    <div class="card header-card shape-rounded" data-card-height="150">
        <div class="card-overlay bg-ba-theme opacity-95"></div>
        <div class="card-overlay dark-mode-tint"></div>
        <div class="card-bg"></div>
    </div>
    @if (query.Count > 0)
    {
        <div class="card card-style mb-1 p-2">
            <a href="/MobileApp/Home/ViewTradespersons?cid=@Request.QueryString["cid"]" class="btn btn-m mb-0 rounded-s text-uppercase font-700 bg-ba-theme">
                <i class="fa fa-eye"></i> 
                View available @ViewBag.cName
            </a>
        </div>
    }
    <div class="card card-style">
        <div class="content mt-0 mb-0">
            <div class="list-group list-custom-large" id="Categories">
            </div>
        </div>
    </div>
</div>