
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";

    BridgingAfricaDBEntities db = new BridgingAfricaDBEntities();
    var AboutUs = db.InformationTbls.Select(s => s.AboutUs).FirstOrDefault();
}

<main class="main-wrapper">
    <!-- Start Breadcrumb Area  -->
    <div class="axil-breadcrumb-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-8 col-md-8">
                    <div class="inner">
                        <ul class="axil-breadcrumb">
                            <li class="axil-breadcrumb-item"><a href="/">Home</a></li>
                            <li class="separator"></li>
                            <li class="axil-breadcrumb-item active" aria-current="page">About Us</li>
                        </ul>
                        <h1 class="title">About us</h1>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="inner">
                        <div class="bradcrumb-thumb">
                            <img src="/assets/images/logo/logoheader.png" alt="Bridging Africa" style="height:140px;" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumb Area  -->
    <!-- Start About Area  -->
    <div class="axil-about-area about-style-1 axil-section-gap ">
        <div class="container">
            <div class="row align-items-center">               
                <div class="col-xl-12 col-lg-12">
                    <div class="about-content content-right">
                        @Html.Raw(AboutUs)
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End About Area  -->
</main>

