
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main class="main-wrapper">
    <!-- Start Breadcrumb Area  -->
    <div class="axil-breadcrumb-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-8">
                    <div class="inner">
                        <ul class="axil-breadcrumb">
                            <li class="axil-breadcrumb-item"><a href="/">Home</a></li>
                            <li class="separator"></li>
                            <li class="axil-breadcrumb-item active" aria-current="page">Contact us </li>
                        </ul>
                        <h1 class="title">Contact</h1>
                    </div>
                </div>
                <div class="col-lg-6 col-md-4">
                    <div class="inner">
                        <div class="bradcrumb-thumb">
                            <img src="/assets/images/logo/logoheader.png" alt="Image" style="height:140px;" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumb Area  -->
    <!-- Start Contact Area  -->
    <div class="axil-contact-page-area axil-section-gap">
        <div class="container">
            <div class="axil-contact-page">
                <div class="row row--30">
                    <div class="col-lg-8">
                        @if (TempData["FailMessage"] != null)
                        {
                            <div id="fail-alert" class="alert alert-danger text-center">@TempData["FailMessage"]</div>
                        }
                        @if (TempData["SuccessMessage"] != null)
                        {
                            <div id="success-alert" class="alert alert-success text-center">@TempData["SuccessMessage"]</div>
                        }
                        <div class="contact-form">
                            <h3 class="title mb--50">We would love to hear from you.</h3>
                            <form id="contact-form" method="post" action="/Home/Contact">
                                @Html.AntiForgeryToken()
                                <div class="row row--10">
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label for="contact-name">Name <span>*</span></label>
                                            <input type="text" name="Name" id="Name" required />
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label for="contact-phone">Phone <span>*</span></label>
                                            <input type="text" name="ContactNo" id="ContactNo" required pattern="^(?:\+2637\d{8}|07\d{8})$" title="e.g. +263771234567 or 0771234567" placeholder="e.g. +263771234567 or 0771234567" />
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label for="contact-email">E-mail <span>*</span></label>
                                            <input type="email" name="EmailID" id="EmailID" required />
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label for="contact-message">Your Message</label>
                                            <textarea name="Message" id="Message" cols="1" rows="2" required></textarea>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group mb--0">
                                            <button name="submit" type="submit" id="submit" class="axil-btn btn-bg-primary">Send Message</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="contact-location mb--40">
                            <h4 class="title mb--20">Our Contact Info</h4>
                            <span class="phone">WhatsApp: +263772149494</span>
                            <span class="email">Email: info@bridging-africa.com</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Contact Area  -->
</main>

