
@{
    ViewBag.Title = "AddAccreditation";
    Layout = "~/Areas/TradespersonApp/Views/Shared/_ProviderLayout.cshtml";
}


<script>
    var UserID = localStorage.getItem("P_UserID");   
    function SendRequest() {
        var Acid = $('#Acid').val();
        if (Acid != null && Acid != "") {
            $.ajax({
                url: "/api/ProviderApi/AddAccreditation?acid=" + Acid + "&pid=" + UserID,
                type: 'GET',
                contentType: 'application/json',
                beforeSend: function () {
                    $("body").mLoading();
                },
                success: function (data) {
                    $("body").mLoading('hide');
                    if (data.Status == "Success") {
                        document.getElementById("SuccessHeader").innerHTML = "Success";
                        document.getElementById("SuccessDetail").innerHTML = data.Message;
                        $('#SuccessMessage').showMenu();
                        $('#BtnSuccess').click(function () {
                            window.location = "/TradespersonApp/Home/ManageAccreditation";
                        });
                    }
                    else {
                        document.getElementById("ErrorHeader").innerHTML = "Alert";
                        document.getElementById("ErrorDetails").innerHTML = data.Message;
                        $('#ErrorMessage').showMenu();
                    }
                },
                error: function (data) {
                    $("body").mLoading('hide');
                    document.getElementById("ErrorHeader").innerHTML = "Alert";
                    document.getElementById("ErrorDetails").innerHTML = data.Message;
                    $('#ErrorMessage').showMenu();
                }
            });
        }
        else {
            alert('Please Select Accreditation');
        }
    }

</script>

<div class="page-content">
    <div class="page-title page-title-small">
        <h2><a href="/TradespersonApp/Home/ManageAccreditation"><i class="fa fa-arrow-left"></i></a>Request Accreditation</h2>
    </div>
    <div class="card header-card shape-rounded" data-card-height="150">
        <div class="card-overlay bg-ba-theme opacity-95"></div>
        <div class="card-overlay dark-mode-tint"></div>
        <div class="card-bg"></div>
    </div>
    <div class="card card-style mb-1 p-2">
        <h4 class="m-3">Accreditation Name</h4>
        <div class="input-style input-style-2">
            <span class="color-highlight input-style-1-active">Accreditation</span>
            @Html.DropDownList("Acid", null, "---Select Accreditation---", htmlAttributes: new { required = "required" })
        </div>
        <a href="#" onclick="SendRequest()" class="btn btn-m btn-full button-s shadow-l rounded-s text-uppercase font-900 bg-ba-theme">Submit</a>
    </div>
</div>

