
@{
    ViewBag.Title = "ChooseArea";
    Layout = "~/Areas/TradespersonApp/Views/Shared/_ProviderLayout.cshtml";
}

<style>
    #map {
        margin-bottom: 50px;
        height: 300px;
        width: 100%;
        display: none;
    }
</style>
<script>
    $(document).ready(function () {
        var mobile = sessionStorage.getItem("P_MobileNumber");
        if (mobile != null && mobile != "") {
            $('#MobileNumber').val(mobile);
            $("#btnsave").click(function (e) {
                var IsValid = checkvalues();
                if (IsValid != "1") {
                    IsValid.focus();
                    $('#ErrorToast').html(IsValid[0].title);
                    $('#ErrorToast').toast('show');
                }
                else {
                    var areaId = $('#PostalCodeID').val();
                    if (areaId !== null && areaId !== undefined && areaId.trim() !== "") {
                        var AddressLine1 = $('#AddressLine1').val();
                        var AddressLine2 = $('#AddressLine2').val();
                        localStorage.setItem("PostalCodeID", areaId); 
                        localStorage.setItem("AddressLine1", AddressLine1);
                        localStorage.setItem("AddressLine2", AddressLine2);
                        window.location = "/TradespersonApp/Home/Register";
                    }
                    else {
                        $('#ErrorToast').html("Select area from list");
                        $('#ErrorToast').toast('show');
                    }
                }
            });
        }       
    });    
    function goBackhome() {
        localStorage.clear();
        sessionStorage.clear();
        window.location = "/MobileApp/Home/MainHome";
    }
</script>
<script src="~/assets/js/locationmap.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcimpXOj5Dp3IYAnXTyiTOOYnLFE-1-to&callback=initMap" async defer></script>
<div class="page-content pb-5">
    <div class="card card-style mt-2 mb-5">
        <div class="content mb-0">
            <h3 class="mb-5 text-center">Select your business area</h3>
            <form id="myForm" method="post">
                <input id="MobileNumber" name="MobileNo" type="hidden" />              
                <div class="input-style input-style-2">
                    <span class="color-highlight input-style-1-active">City/Town</span>
                    @Html.DropDownList("CityID", null, "Select Your City/Town", htmlAttributes: new { required = "required", onchange = "getAreaSuburb(this.value)", title = "Select City" })
                </div>
                <div class="input-style input-style-2">
                    <span class="color-highlight input-style-1-active">Search Area/Suburb</span>
                    @Html.DropDownList("PostalCodeID", new SelectList(Enumerable.Empty<SelectListItem>()), htmlAttributes: new
                    {
                        required = "required",
                        onchange = "setareaID(this.value, this.options[this.selectedIndex].text)",
                        title="Select Area"
                    })
                </div>
                <p id="pRadius" class="mb-2" style="color:green"></p>
                <div id="map"></div>
                <div class="input-style input-style-2 has-icon">
                    <i class="input-icon fa fa-map-marker color-theme"></i>
                    <span class="color-highlight input-style-1-active">Address Line 1</span>
                    <em>(required)</em>
                    <input id="AddressLine1" name="AddressLine1" class="form-control" type="text" title="Enter Address Line 1" required />
                </div>
                <div class="input-style input-style-2 has-icon">
                    <i class="input-icon fa fa-map-marker color-theme"></i>
                    <span class="color-highlight input-style-1-active">Address Line 2</span>
                    <em>(optional)</em>
                    <input id="AddressLine2" name="AddressLine2" class="form-control" type="text" title="Enter Address Line 2" />
                </div>
                <a href="#" id="btnsave" class="btn btn-m btn-full mb-3 rounded-xl text-uppercase font-900 shadow-s bg-ba-theme">Continue</a>
                <hr />
                <a href="#" onclick="goBackhome()" class="btn btn-full btn-m shadow-l rounded-s bg-blue2-dark text-uppercase font-900 top-20 m-2">Back to home</a>
            </form>
        </div>
    </div>
</div>

