
@{
    ViewBag.Title = "CustomerReviews";
    Layout = "~/Areas/TradespersonApp/Views/Shared/_ProviderLayout.cshtml";
}
<script>
    $(document).ready(function () {
        var UserID = localStorage.getItem("P_UserID");
        $.ajax({
            url: '/api/ProviderApi/GetCustomerReviews?providerId=' + UserID,
            type: "get",
            dataType: "JSON",
            beforeSend: function () {
                $("body").mLoading();
            },
            success: function (json) {
                $("body").mLoading('hide');
                if (json.length > 0) {
                    json.forEach(function (item) {
                        let createdate = new Date(item.CreatedDate).toDateString();
                        $("#reviews").append(
                            "<div class='card card-style bg-theme p-2'>" +
                            "<div class='container'>" +
                            "<h5 class='font-500 font-14'>Customer: " + item.FirstName + "</h5>" +
                            "<h5 class='font-500 font-14'>Service: " + item.JobDetail + "</h5>" +
                            "<h5 class='font-500 font-14'>Review: " + item.Review + "</h5>" +
                            "<h5 class='font-500 font-14'>Date: " + createdate + "</h5>" +
                            "<div class='product-reviews-summary'><div class='rating-summary'><h4 class='rating-result mb-0'><span style='width:" + item.Rating + "%'></span></h4></div></div>" +
                            "</div>" +
                            "</div>"
                        );
                    });

                }
                else {
                    $("#reviews").append("<div class='card card-style bg-theme pb-3'><div class='container'><h5 class='font-500 mt-3'>No records found</h4></div></div>");
                }
            },
        });
    });
</script>
<div class="page-content">
    <div class="page-title page-title-small">
        <h2><a href="/TradespersonApp/Home/MyAccount"><i class="fa fa-arrow-left"></i></a>Customer Reviews</h2>
    </div>
    <div class="card header-card shape-rounded" data-card-height="150">
        <div class="card-overlay bg-ba-theme opacity-95"></div>
        <div class="card-overlay dark-mode-tint"></div>
        <div class="card-bg"></div>
    </div>
    <div class="clearfix mb-3"></div>
    <div id="reviews">

    </div>
</div>

