
@{
    ViewBag.Title = "MyAccount";
    Layout = "~/Areas/TradespersonApp/Views/Shared/_ProviderLayout.cshtml";

    BridgingAfricaDBEntities db = new BridgingAfricaDBEntities();
    int providerID = 0;
    if (Request.Cookies["P_UserID"] != null)
    {
        HttpCookie reqCookies = Request.Cookies["P_UserID"];
        providerID = int.Parse(reqCookies.Value);
    }
    var unread = db.ProviderNotificationTbls.Count(p => p.ProviderID == providerID && p.Status == false && p.Isactive == true);
}
<script>
    function Logout() {
        localStorage.clear();
        sessionStorage.clear();
        const expiryDate = new Date();
        expiryDate.setMinutes(expiryDate.getMinutes() - 2000);
        setCookie("P_UserID", "", expiryDate);
        window.location = "/MobileApp/Home/MainHome?IsLogout=1"
    }
    var UserID = localStorage.getItem("P_UserID");
    function getProviderDetails() {
        $.ajax({
            url: '/api/ProviderApi/GetProviderDetails?pid=' + UserID,
            type: "get",
            dataType: "JSON",
            beforeSend: function () {
                $("body").mLoading();
            },
            success: function (json) {
                $("body").mLoading('hide');
                $("#switch-b").attr("data-pro-id", json.Id);
                $("#switch-b").val(json.IsAvailable);
                if (json.IsAvailable === true) {
                    $("#switch-b").prop("checked", true);
                } else {
                    $("#switch-b").prop("checked", false);
                }

            },
        });
    }
    $(document).ready(function () {
        getProviderDetails();       
    });
    function AvailabilityToggle() {
        var checkbox = $("#switch-b");
        var isChecked = $(checkbox).is(':checked'); // Get checkbox state
        var providerId = $(checkbox).data('pro-id'); // Get student ID
        if (isChecked == true) {
            isChecked = false;
        }
        else {
            isChecked = true;
        }
        $.ajax({
            url: '/api/ProviderApi/ToggleAvailability?providerId=' + providerId + '&isAvailable=' + isChecked,
            type: 'POST',
            contentType: 'application/json',
            success: function (response) {
                if (response.Status == "1") {
                    $('#SuccessToast').html(response.Message);
                    $('#SuccessToast').toast('show');

                } else {
                    $('#ErrorToast').html(response.Message);
                    $('#ErrorToast').toast('show');
                }
            },
            error: function () {
                alert('An error occurred while updating notification status.');
            }
        });
    }
</script>
<div class="page-content">
    <div class="page-title page-title-small">
        <h2>My Account</h2>
    </div>
    <div class="card header-card shape-rounded" data-card-height="210">
        <div class="card-overlay bg-ba-theme opacity-95"></div>
        <div class="card-overlay dark-mode-tint"></div>
        <div class="card-bg"></div>
    </div>
    <div class="card card-style">
        <div class="content mt-0 mb-2">
            <div class="list-group list-custom-large">
                <a data-trigger-switch="switch-b" href="#">
                    <i class="fa font-14 fa-check bg-ba-theme color-white rounded-sm"></i>
                    <span style="margin-top:-5px;">Are you available?</span>
                    <strong style="margin-top:18px;">Are you available to receive leads?</strong>
                    <div class="custom-control scale-switch ios-switch">
                        <input type="checkbox" class="ios-input" id="switch-b" />
                        <label class="custom-control-label" for="switch-b" onclick="AvailabilityToggle()"></label>
                    </div>
                    <i class="fa fa-chevron-right opacity-30"></i>
                </a>
                <a href="/TradespersonApp/Home/MyProfile">
                    <i class="fa font-14 fa-user bg-ba-theme color-white rounded-sm"></i>
                    <span>My Profile</span>
                    <i class="fa fa-angle-right mr-2"></i>
                </a>

                <a href="/TradespersonApp/Home/MyServices">
                    <i class="fa font-14 fa-file-invoice bg-ba-theme color-white rounded-sm"></i>
                    <span>My Requests</span>
                    <i class="fa fa-angle-right mr-2"></i>
                </a>
                <a href="/TradespersonApp/Home/CancelledQuotations">
                    <i class="fa font-14 fa-file bg-ba-theme color-white rounded-sm"></i>
                    <span>Cancelled Requests</span>
                    <i class="fa fa-angle-right mr-2"></i>
                </a>
                <a href="/TradespersonApp/Home/Messages">
                    <i class="fa font-14 fa-envelope bg-ba-theme color-white rounded-sm"></i>
                    <span>Messages</span>
                    @if (unread > 0)
                    {<em class="badge bg-ba-theme" style="margin-right: 40px;margin-top: 23px;font-size:12px">@unread</em>}
                    <i class="fa fa-angle-right mr-2"></i>
                </a>
                @*<a href="/TradespersonApp/Home/MyJobs">
            <i class="fa font-14 fa-list bg-ba-theme color-white rounded-sm"></i>
            <span>My Jobs</span>
            <i class="fa fa-angle-right mr-2"></i>
        </a>*@
                @*<a href="/TradespersonApp/Home/MyJobsInvoices">
            <i class="fa font-14 fa-file-invoice bg-ba-theme rounded-sm"></i>
            <span>Job Invoices</span>
            <i class="fa fa-angle-right mr-2"></i>
        </a>*@
                <a href="/TradespersonApp/Home/ManageServices">
                    <i class="fa font-14 fa-list bg-ba-theme color-white rounded-sm"></i>
                    <span>Manage Services</span>
                    <i class="fa fa-angle-right mr-2"></i>
                </a>
                <a href="/TradespersonApp/Home/ManageAccreditation">
                    <i class="fa font-14 fa-shield-alt bg-ba-theme color-white rounded-sm"></i>
                    <span>Accreditation Request</span>
                    <i class="fa fa-angle-right mr-2"></i>
                </a>
                <a href="/TradespersonApp/Home/UploadPhotos">
                    <i class="fa font-14 fa-image bg-ba-theme color-white rounded-sm"></i>
                    <span>Upload Photos</span>
                    <i class="fa fa-angle-right mr-2"></i>
                </a>
                <a href="/TradespersonApp/Home/CustomerReviews">
                    <i class="fa font-14 fa-star bg-ba-theme color-white rounded-sm"></i>
                    <span>Customer Reviews</span>
                    <i class="fa fa-angle-right mr-2"></i>
                </a>
                <a href="/TradespersonApp/Home/ContactUs">
                    <i class="fa font-14 fa-question bg-ba-theme color-white rounded-sm"></i>
                    <span>Help</span>
                    <i class="fa fa-angle-right mr-2"></i>
                </a>
                <a href="#" data-toggle-theme class="show-on-theme-light">
                    <i class="fa font-14 fa-moon bg-ba-theme color-white rounded-sm"></i>
                    <span>Dark Mode</span>
                    <i class="fa fa-angle-right mr-2"></i>
                </a>
                <a href="#" data-toggle-theme class="show-on-theme-dark">
                    <i class="fa font-14 fa-lightbulb bg-ba-theme color-white rounded-sm"></i>
                    <span>Light Mode</span>
                    <i class="fa fa-angle-right mr-2"></i>
                </a>
                <a href="/MobileApp/Home/MainHome">
                    <i class="fa font-14 fa-sign-in-alt bg-ba-theme color-white rounded-sm"></i>
                    <span>Exit Tradesperson App</span>
                    <i class="fa fa-angle-right mr-2"></i>
                </a>
                <a href="#" onclick="Logout()">
                    <i class="fa font-14 fa-sign-out-alt bg-ba-theme color-white rounded-sm"></i>
                    <span>Sign out</span>
                    <i class="fa fa-angle-right mr-2"></i>
                </a>
            </div>
        </div>
    </div>
</div>