
@{
    ViewBag.Title = "PaymentSuccess";
    Layout = "~/Areas/TradespersonApp/Views/Shared/_ProviderLayout.cshtml";
}

<script>
    function PaymentDone(qid) {
        var ptype = $("#ptype").val();
        $.ajax({
            url: '/api/ProviderApi/QuotePaymentDone?qid=' + qid + '&ptype=' + ptype,
            type: "Post",
            dataType: "JSON",
            beforeSend: function () {
                $("body").mLoading();
            },
            success: function (json) {
                $("body").mLoading('hide');
                if (json.Status == "Success") {
                    $("#SuccessHeader").text("Success");
                    $("#SuccessDetail").text(json.Message);
                    $('#SuccessMessage').showMenu();
                    $('#BtnSuccess').click(function () {
                        window.location = "/TradespersonApp/Home/MyServiceDetails?serviceID="+qid;
                    });
                }
                else {
                    $("#ErrorHeader").text("Alert");
                    $("#ErrorDetails").text(json.Message);
                    $('#ErrorMessage').showMenu();
                }
            },
        });
    }
</script>
<div class="page-content pb-0">
    <div class="card card-style mt-2 mb-2">
        <div class="page-title page-title-small mb-2">
            <h4 class="text-center font-600">Payment Details</h4>
        </div>
    </div>
    <div class="card card-style">
        <div class="page-title page-title-small mb-2">
            <h4 class="text-center font-500">Payment successfully completed.</h4>
        </div>

        <div class="content mb-0 mt-1 pt-2 mb-2">
            <h4 class="text-center font-500">Amount: $5</h4>
            <input type="hidden" id="ptype" value="@Request.QueryString["ptype"]" />
            <h5 class="mt-3 mb-3 font-500 text-center">Please click on proceed to complete payment</h5>
            <a href="#" onclick="PaymentDone(@Request.QueryString["qid"]);" class="btn btn-full btn-m shadow-l rounded-s bg-ba-theme text-uppercase font-900 top-20 m-2">
                Proceed
            </a>
        </div>
    </div>
</div>

