
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main class="main-wrapper">
    <!-- Start Blog Area  -->
    <div class="axil-blog-area pt--50 pb--100">
        <div class="post-single-wrapper position-relative pt--20">
            <div class="container">
                <div class="row">
                    <div class="col-xl-8 col-lg-8 col-sm-12 offset-lg-2 offset-xl-2">
                        <div class="comment-respond text-center">
                            <h6 class="alert alert-success text-center">@TempData["SuccessMessage"]</h6>  
                            <a href="/CustomerAccount" class="axil-btn btn-bg-secondary w-auto mt--30">Go to my account</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

